header {
    background-color: #c8c10d;
    color: white;
    height: 80px;
    margin: 0 auto;
    padding: 0;
}
.header div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}
.Image{
    background-color: #ebebed;
    margin: 0;
    max-width: none;
    min-height: 249px;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.center{
    display: flex;
    justify-content: space-evenly;  
}
.one, .two {
    width: 400px;
}
.one p, .two p {
    color: gray;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .center {
        flex-wrap: wrap;
    }
}