.header {
    background-color: #c8c10d;
    color: white;
    height: 80px;
    margin: 0 auto;
    padding: 0;
}
.header div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}
.map{
    background-image: url('../Images/Map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 0;
    max-width: none;
    width: 100%;
    position: relative;
}
.location{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 700px;
    height: 200px;
    margin: 250px 350px 0px;
    padding: 10px;
    background-color: rgb(248, 248, 252);
    position: absolute;
    top: 0;
} 
.icon-location img {
    width: 30%;
}
.icon-location{  
    width: 300px;
    height: 100px;
}
.location-text h2{
    opacity: 0.8;
    color: #E32A62;
}
.location-text p {
    opacity: 0.8;
    font-weight: normal;
}
.inquiry{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.inquiry-form{
    margin-right: 30px;
    text-align: left;
}
.inquiry-form form {
    margin: 0;
    padding: 0;
}

.comment{
    width: 250px;
    height: 200px;
    background-color: rgb(245, 242, 248);
    padding: 20px;
}
.first{
    font-size: large;
    color: #E32A62;
    font-weight: bolder;
}
.details{
    width: 500px;
    margin-bottom: 5px;
    padding-left: 7px;
    height: 30px;
   
}
.thoughts{
    width: 500px;
    padding-bottom: 100px;
    padding-left: 7px;
}
button{
    padding: 10px;
    width: 150px;
    margin-top: 10px;
    font-weight: bolder;
}
button:hover{
  background-color: greenyellow;
}
a{
    text-decoration: none;
    color: #E32A62;
}
@media screen and (max-width: 992px) {
    .map {
        min-height: 280px;
    }
    .location {
        margin: 250px 200px 0;
        width: 90%;
    }
    .inquiry-form {
        width: 80%;
    }
    .inquiry-form form {
        width: 100%;
    }
    .inquiry-form form input, .inquiry-form form textarea {
        width: 90%;
    }
}
@media screen and (max-width: 600px) {
    .location {
        flex-wrap: wrap;
        height: 200px;
        margin: 310px 30px;
        font-size: smaller;
        padding: 0;
    }
    .icon-location {
        padding-top: 10px;
        margin-bottom: -50px;
    }
    .icon-location img {
        width: 20px;
    }
    .location div h2, .location div p {
        font-size: small;
    }
    .inquiry {
        flex-wrap: wrap;
    }
}