.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(229, 234, 241);
    padding: 2em;
}
.navbar .nav-links{
    display: flex;
    justify-content: space-evenly;
    
}
.navbar .nav-links li{
    margin: 10px;
    list-style: none;
    text-transform: uppercase;
    margin-right: 3em;
}
.image{
    margin-left: 3em;
}
.link{
    text-decoration: none;
}
@media screen and (max-width: 600px) {
    .navbar {
        justify-content: space-between;
    }
    .navbar .nav-links {
        flex-wrap: wrap;
    }
    .navbar .nav-links li {
        margin: 5px;
    }
    .image {
        margin-left: 0;
    }
}